$countries: (
    canada: rgb(255, 0, 0),
    china: rgb(224, 38, 0),
    france: rgb(240, 37, 50),
    mexico: rgb(0, 105, 70),
    russia: rgb(215, 41, 15),
    uk: rgb(0, 32, 127),
    usa: rgb(60, 57, 112)
);

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  background: rgba(193, 230, 255, 0.3);
  position: relative;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.518;
}

// required for IE
object,
svg {
  width: 100%;
}

svg:not(root) {
  width: 100%;
}

path {
  fill: rgba(235, 228, 196, 1);
  stroke: rgba(0,0,0,0.05);

  &:active,
  &:focus,
  &:hover {
    fill: rgba(0,0,0,0.5);
  }
}

.map-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 64.7%;
  vertical-align: middle;
  overflow: hidden;
}

[data-id="CA"]:hover {
  fill: map-get($countries, canada);
}

[data-id="CN"]:hover {
  fill: map-get($countries, china);
}

[data-id="FR"]:hover {
  fill: map-get($countries, france);
}

[data-id="GB"]:hover {
  fill: map-get($countries, uk);
}

[data-id="MX"]:hover {
  fill: map-get($countries, mexico);
}

[data-id="RU"]:hover {
  fill: map-get($countries, russia);
}

[data-id="US"]:hover {
  fill: map-get($countries, usa);
}

.message {
  position: absolute;
  left: 0;
  top: 10px;
  padding: 0.5rem 1rem;
  background: rgba(0,0,0,0.7);
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  color: #e4e4e4;
  z-index: 2;
}
