$base-colors: (
  red: rgb(229, 57, 53),
  blue: rgb(25, 118, 210),
  green: rgb(56, 142, 60),
  yellow: rgb(253, 216, 53),
  purple: rgb(106, 27, 154),
  orange: rgb(239, 108, 0),
  pink: rgb(233, 30, 99),
  white: rgb(255, 255, 255),
  black: rgb(0, 0, 0),
  lightgray: rgb(224, 224, 224),
  medgray: rgb(158, 158, 158),
  darkgray: rgb(66, 66, 66)
);

$countries: (
  canada: rgb(255, 0, 0),
  china: rgb(224, 38, 0),
  france: rgb(240, 37, 50),
  mexico: rgb(0, 105, 70),
  russia: rgb(215, 41, 15),
  uk: rgb(0, 32, 127),
  usa: rgb(60, 57, 112)
);

$colors: map-merge($base-colors, $countries);

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.518;
  // background: rgba(193, 230, 255, 0.3);
}

// required for IE
object,
svg {
  width: 100%;
}

svg {
  shape-rendering: crispEdges;
}

svg:not(root) {
  width: 100%;
}

.map-container {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.map__buttons {
  position: absolute;
  right: 30px;
  top: 30px;
}

.background {
  fill: none;
  pointer-events: all;
}

#countries {
  fill: #d4d4d4;
  stroke: #fff;
  stroke-width: .5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

#countries .active {
  fill: #89a;
}
